.InvalidInput {
  color: red;
}

.IncorrectGuess {
  color: red;
}

.NwseResizeCursor {
  cursor: nwse-resize;
}

.NeswResizeCursor {
  cursor: nesw-resize;
}

.MoveCursor {
  cursor: move;
}

.WhiteBackground {
  background-color: white;
}
